# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# stock cart images
public/*.png
public/*.avif
public/*.jpg
public/*.jpeg
public/*.webp
public/*.gif
public/*.svg
public/*.ico
public/stockCarts/*.png
public/stockCarts/*.avif
public/stockCarts/*.jpg
public/stockCarts/*.jpeg
public/stockCarts/*.webp
public/stockCarts/*.gif
public/stockCarts/*.svg
public/stockCarts/*.ico
# exports files
exports/*.xlsx
spdmvs.txt

python/.venv